Package: com.huami.dyenablepanelmodernstyle
Name: DYEnablePanelModernStyle
Version: 1.0.0
Architecture: iphoneos-arm
Description: 强制启用新版抖音长按 UI（现代风）
Maintainer: huami
Author: huami
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
